---
import Layout from "../layouts/Main.astro"
import { Markdown, Prism } from 'astro/components';

export async function createCollection() {
  const response = await fetch(
    "https://dev.to/api/articles/me", {
      headers: {
        "api-key": import.meta.env.SNOWPACK_PUBLIC_DEV_API_KEY
      }
    }
  );

  if (response.ok) {
    const articles = await response.json();

    return {
      route: `/articles/:slug`,
      paths() {
        return articles.map((article) => ({params: {slug: article.slug}}));
      },
      async props({ params }) {

        return {
          article: articles.find((article) => article.slug === params.slug)
        };
      },
    };
  } else {
    console.log(response)
  }
}

const {article} = Astro.props;
---

<Layout>
  <div class="space-y-8">
    <h1>{article.title}</h1>
    <Markdown content={article.body_markdown} />
  </div>
</Layout>

